/*HEADER*/		
		#layout {
            border-style: outset;
            border-style: bold;
        }

        #header {
            background-color: whitesmoke;
            text-align: center;
            font-family: "Verdana";
            height: 100px;
        }

        .icon img:hover {
		  transform: scale(1.5); /* (150% zoom)*/
		}

/*NOTIF*/

        .notif {
            position:absolute;
            width: 300px;
            background-color: black;
            grid-template-rows: auto;
            color: white;
            left:1040px;
            top:105px;
            border-style:groove;
            border-radius: 1em;
            grid-gap: 30px;
            display: none
        }
        
        .boxnotif {
            width: auto;
            height: auto;
            background-color: black;
            padding: 20px;
            border-radius: 1.5em;
            color:chocolate;
        }
        
        .boxnotif:hover {
            background-color: dimgrey;
            border-radius: 1em;
        }

/*FOOTER*/
		.footer {
		    padding: 50px 0 20px 0;
		    background-color: whitesmoke;
		    color: #757a78;
		    font-family: "Verdana"
		}
		.footer .title{text-align: left;color:red;font-size:25px;}
		.footer .social-icon{padding:0px;margin:0px;}
		.footer .social-icon a{display:inline-block;color:black;font-size:25px;padding:5px;}
		.footer .acount-icon a{display:block;color:#878c94;font-size:18px;padding:5px;text-decoration:none;}
		.footer .acount-icon .fa {margin-right:25px;}

		.footer .category a {
		    text-decoration: none;
		    color: #fff;
		    display: inline-block;
		    padding: 5px 20px;
		    margin: 1px;
		    border-radius:4px;
		    margin-top: 6px;
		    background-color: black;
		    border: solid 1px #fff;
		}

		.footer .payment{margin:0px;padding:0px;list-style-type:none}
		.footer .payment li{list-style-type:none}
		.footer .payment li a {
		    text-decoration: none;
		    display: inline-block;
		    color: black;
		    float: left;
		    font-size: 25px;
		    padding: 10px 10px;
		}
